/* Icons from directory "" */
.icon-cat-food,.icon-cat-food\:regular{background-image:url('icons/icons.svg');background-position:0 0;background-repeat:no-repeat}
.icon-cat-food-dims{width:45px;height:57px}
.icon-image,.icon-image\:regular{background-image:url('icons/icons.svg');background-position:0 -57px;background-repeat:no-repeat}
.icon-image-dims{width:53px;height:53px}